.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

@media screen and (max-width: 600px) {
    .App {
        align-items: flex-start;
        padding-top: 5rem;
    }
}
